* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #013f25;
  color: white;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 0 60px;
}

h1,
h2,
h3 {
  font-family: Lora, serif;
  font-weight: 400;
  text-transform: capitalize;
}

h1,
h2 {
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  line-height: 4rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 60ch;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
}

img.top{
  object-position: top;
}

.flex {
  display: flex;
}

.flex > *:not(:last-child) {
  margin-right: 1.25rem;
}

button {
  background-color: #015532;
  font-family: inherit;
  color: white;
  border: none;
  padding: 10px 40px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

nav {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  font-family: Lora, 'sans-serif';
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: bold;
}

#hero__text {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero__text button {
  align-self: flex-start;
}

#hero__text p {
  margin-bottom: 1rem;
}

.hero__img {
  flex: 1 1 0px;
  margin: auto;
}

.hero__img.one-img {
  height: 700px;
}

.hero__img.two-img {
  height: 700px;
  margin-bottom: -90px;
}

.hero__img.two-img img {
  height: 50%;
  margin-bottom: 1.25rem;
}

#products {
  margin-top: 260px;
}

#products__featured {
  flex: 2 1 0px;
}



#products__featured img {
  height: 500px;
}

#products__other-img {
  flex: 1 1 0px;
}

#products__other-img div {
  height: 300px;
  display: flex;
  justify-content: space-between;
}

#products__other-img div:first-child {
  margin-bottom: 1.25rem;
}

#products__other-img div :first-child {
  margin-right: 1.25rem;
}

#products__other-img img {
  width: 50%;
}

#sommeliers {
  height: 700px;
  margin: 260px 0;
}

#sommeliers > * {
  flex: 1 1 0px;
}

#sommeliers h2 {
  align-self: center;
}
